{% extends 'base.html' %}
{% block title %}{{title}} {% endblock %}
{% block content %}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {%for row in data_sec%}
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <a class="card-text" href="{{url_for('horario_grado', value = row[0])}}">{{row[1]}} - {{row[2]}}</a>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
{% endblock %}