{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div class="container">
    <form method="post" id="myForm" onSubmit="return confirm('Confirmar cambios?');">
        <div class="mt-5">
            <label for="Nombre_Mat" class="form-label">Nombre de Materia</label>
            <input type="text" class="form-control" id="Nombre_Mat" name="nombre_mat" required autofocus value="{{data[1]}}" />
        </div>
        <div class="mb-3">
            <label for="Descript" class="form-label">Descripción</label>
            <textarea class="form-control" id="Descript" rows="3" name="descript_mat">{{data[2]}}</textarea>
        </div>
        <div id="botones" class="d-grid gap-2 d-md-flex justify-content-md-end"></div>
    </form>
</div>
<script type="text/javascript" id="botones_js" data="{{ data }}" actualizar="{{ permisos[0] }}" eliminar="{{ permisos[1] }}" src="{{url_for('static', filename='generar_botones.js')}}"></script>
{% endblock %}
