{% extends 'base.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}

<div class="container">
    <form method="post" id="myForm" onSubmit="return confirm('Confirmar cambios?');" enctype="multipart/form-data">
        <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Datos Personales</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="materias-tab" data-bs-toggle="tab" data-bs-target="#materias" type="button" role="tab" aria-controls="materias" aria-selected="false">Materias y grados</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active mt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                <h2 class="text-center">Datos Personales</h2>
                <div class="input-group">
                    <div class="mt-3 col-md-4 p-1">
                        <label for="nombre" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required autofocus value="{{data[1]}}" />
                    </div>
                    <div class="mt-3 col-md-4 p-1">
                        <label for="apellido" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" required autofocus value="{{data[2]}}" />
                    </div>
                    <div class="mt-3 col-md-4 p-1">
                        <label for="documento" class="form-label">Documento</label>
                        <input type="number" class="form-control" id="documento" name="documento" required autofocus value="{{data[3]}}" />
                    </div>
                    <div class="mt-3 col-md-4 p-1">
                        <label for="celular" class="form-label">Celular</label>
                        <input type="tel" class="form-control" id="celular" name="celular" autofocus value="{{data[4]}}" />
                    </div>
                    <div class="mt-3 col-md-4 p-1">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" autofocus value="{{data[5]}}" />
                    </div>
                    <div class="mt-3 col-md-4 p-1">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" autofocus value="{{data[6]}}" />
                    </div>
                    <div class="mt-3 mb-2 col-md-4 p-1">
                        <label for="domicilio" class="form-label">Domicilio</label>
                        <input type="text" class="form-control" id="domicilio" name="domicilio" autofocus value="{{data[7]}}" />
                    </div>
                </div>
                <h2 class="text-center">Legajo</h2>
                <br />
                <div class="col-md-12 column">
                    <table class="table table-bordered table-hover" id="tabla_leg">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Archivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for row in data_det%}
                            <tr id='addr_{{loop.index-1}}_tabla_leg'>
                                <td class="text-center align-middle">{{loop.index}}</td>
                                <td hidden><input type="text" id='id_det_{{row}}' name="id_det_leg" class="form-control det" value={{row}} /></td>
                                <td><input type="file" id='legaj_{{row}}' name="legaj" class="form-control" accept="image/png, image/gif, image/jpeg" /></td>
                                <td class="text-center">
                                    <a class="btn btn-primary col-6" href="{{url_for('descarga_legajo', value=row)}}" target="_blank">Descargar</a>
                                    <a class="btn btn-danger col-5" id='delete_row' onclick="delete_lin(this, tabla_leg.id)">Eliminar fila</a>
                                </td>
                            </tr>
                        {%endfor%}
                            <tr id='addr_{{data_det | length }}_tabla_leg'>
                                <td class="text-center align-middle">{{data_det | length + 1 }}</td>
                                <td hidden><input type="text" id='id_det' name="id_det_leg" class="form-control det" /></td>
                                <td><input type="file" id='legaj' name="legaj" class="form-control" accept="image/png, image/gif, image/jpeg, image/pdf" /></td>
                                <td class="text-center"><a class="btn btn-danger col-12" id='delete_row' onclick="delete_lin(this, tabla_leg.id)">Eliminar fila</a></td>
                            </tr>
                            <tr id='addr_{{data_det | length + 1}}_tabla_leg'>
                        </tbody>
                    </table>
                    <a id="add_row" class="btn btn-primary" onclick="nuevo_lin({{data_det | length}}, 'tabla_leg')">Añadir fila</a>
                </div>
            </div>
            <div class="tab-pane fade" id="materias" role="tabpanel" aria-labelledby="materias-tab">
                <div class="col-md-12 column">
                    <table class="table table-bordered table-hover" id="tabla_mat">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Grados</th>
                                <th class="text-center">Materias</th>
                                <th class="text-center">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for row in data_det_2%}
                            <tr id='addr_{{loop.index-1}}_tabla_mat'>
                                <td class="text-center align-middle">{{loop.index}}</td>
                                <td>
                                    <select id="grados" class="form-select" name="grados" required disabled>
                                        <option value="">Seleccionar Grado</option>
                                        {%for lin in data_sec%}
                                        {% if lin[0] == row[0] %}
                                        <option value={{lin[0]}} selected>{{lin[1]}} - {{lin[2]}}</option>
                                        {% else %}
                                        <option value={{lin[0]}}>{{lin[1]}} - {{lin[2]}}</option>
                                        {% endif %}
                                        {%endfor%}
                                    </select>
                                </td>
                                <td>
                                    <select id="materias" class="form-select" name="materias" required disabled>
                                        <option value="">Seleccionar Materias</option>
                                        {%for lin in data_sec_2%}
                                        {% if lin[0] == row[1] %}
                                        <option value={{lin[0]}} selected>{{lin[1]}}</option>
                                        {% else %}
                                        <option value={{lin[0]}}>{{lin[1]}}</option>
                                        {% endif %}
                                        {%endfor%}
                                    </select>
                                </td>
                                <td class="align-middle text-center">
                                    {% if row[3] == 1 %}
                                    <input class="form-check-input" type="checkbox" name="estado" value="{{row[0]}}, {{row[1]}}, {{data[0]}}" checked>
                                    {% else %}
                                    <input class="form-check-input" type="checkbox" name="estado" value="{{row[0]}}, {{row[1]}}, {{data[0]}}" >
                                    {% endif %}
                                </td>
                            </tr>
                            {%endfor%}
                            <tr id='addr_{{data_det_2 | length }}_tabla_mat'>
                                <td class="text-center align-middle">{{data_det_2 | length + 1 }}</td>
                                <td>
                                    <select id="grados" class="form-select" name="grados">
                                        <option selected value="">Seleccionar Grado</option>
                                        {%for row in data_sec%}
                                        <option value={{row[0]}}>{{row[1]}} - {{row[2]}}</option>
                                        {%endfor%}
                                    </select>
                                </td>
                                <td>
                                    <select id="materias" class="form-select" name="materias">
                                        <option value="">Seleccionar Materias</option>
                                        {%for lin in data_sec_2%}
                                        <option value={{lin[0]}}>{{lin[1]}}</option>
                                        {%endfor%}
                                    </select>
                                </td>
                                <td class="align-middle text-center">
                                    <input class="form-check-input" type="checkbox" name="estado_nuevo" value="1" checked>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-danger col-12" id='delete_row' onclick="delete_lin(this, tabla_mat.id)">Eliminar fila</a>
                                </td>
                            </tr>
                            <tr id='addr_{{data_det_2 | length + 1}}_tabla_mat'>
                        </tbody>
                    </table>
                    <a id="add_row" class="btn btn-primary" onclick="nuevo_lin({{data_det_2 | length}}, 'tabla_mat')">Añadir fila</a>
                </div>
            </div>
        </div>
        
        <div id="botones" class="d-grid gap-2 d-md-flex justify-content-md-end"></div>
    </form>
</div>
<script type="text/javascript" id="agrega_row" src="{{url_for('static', filename='agrega_row_tabla_det.js')}}"></script>
<script type="text/javascript" id="botones_js" data="{{ data }}" actualizar="{{ permisos[0] }}" eliminar="{{ permisos[1] }}" src="{{url_for('static', filename='generar_botones.js')}}"></script>
{% endblock %}
