{% extends 'base.html' %}

{% block title %} Acerca de {% endblock %}

{% block content %}
<div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Acerca de nosotros</h1>
            <p class="col-md-8 fs-4">Con más de 60 años de experiencia el Colegio San Blas de Obligado ofrece una enseñanza integral.</p>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-md-4">
            <div class="h-100 p-5 text-bg-light rounded-3">
                <h2 class="display-10 fw-bold">Nuesta Visión</h2>
                <p>Institución Educativa, que será reconocida por la formación integral de sus estudiantes, fortalecidos en los principios, valores universales, pedagógicos, con especial énfasis en la comunicación oral y escrita, para que sean personas innovadoras, reflexivas, críticas, sensibles a los problemas del medio ambiente, adaptables al cambio e incorporadas a la Cultura digital.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="h-100 p-5 bg-light rounded-3">
                <h2>Nuesta Misión</h2>
                <p>Brinda servicios educativos a niños y jóvenes dentro de un marco de inclusión, orientados por las dimensiones propias de la Congregación del Verbo Divino para que desarrollen al máximo las competencias y capacidades a través de técnicas y metodologías activas de aprendizaje, con capacidad de tomar decisiones; participando en la resolución de problemas, interactuando con el medio ambiente, adaptándose a la nueva manera de aprender e incorporándose a la cultura digital.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="h-100 p-5 bg-light rounded-3">
                <h2>Valores</h2>
                <ul>
                    <li>Amor</li>
                    <li>Paz</li>
                    <li>Justicia</li>
                    <li>Libertad</li>
                    <li>Solidaridad</li>
                    <li>Responsabilidad</li>
                    <li>Honestidad</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
