{% extends 'base.html' %}
{% block title %}{{title}} {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/datatables.min.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/DataTables-1.12.1/css/dataTables.bootstrap5.min.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/Buttons-2.2.3/css/buttons.dataTables.min.css')}}" />
<div class="container">
    <div class="row" style="padding:50px;">
        <table id="tabla" class="hover display" style="width:100%"></table>
    </div>
</div>
<script src="{{url_for('static', filename='DataTables/jquery-3.5.1.js')}}"></script>
<script src="{{url_for('static', filename='DataTables/DataTables-1.12.1/js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='DataTables/datatables.min.js')}}"></script>
<script>
    var data = {{ data | tojson }};
    var columns = [];
    var tabla = data.tabla
    var link_add = "/new_" + tabla;
    if (NoneEmpty(Object.values(data.data[0]))) {
        var datos = [];
    }
    else {
        var datos = data.data;
    }

    function NoneEmpty(arr) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] === "") return true;
        }
        return false;
    }

   $(document).ready(function () {
       columnNames = Object.keys(data.data[0]);
       for (var i in columnNames) {
           columns.push({data: columnNames[i],
                   title: capitalizeFirstLetter(columnNames[i])});
       }
       $('#tabla').DataTable({
           dom: 'Bfrtip',
           language: {
               url: '//cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json',
           },
           data: datos,
           columns: columns,
           buttons: [
               {
                   text: 'Nuevo',
                   action: function (e, dt, node, config) {
                       window.location = link_add;
                   },
               },
               {
                   extend: 'alert',
                   text: 'Nuevo desde Excel'
               }
           ],
           "columnDefs": [{
               "targets": 0,
               "render": function (data, type, row, meta) {
                   return '<a href=/' + tabla + "/" + row.ID + ' target="_blank">' + data + '</a>';
               }
           }]
       });
       /*var table = $('#tabla').DataTable();

       $('#tabla tbody').on('click', 'tr', function () {
           if ($(this).hasClass('selected')) {
               $(this).removeClass('selected');
           } else {
               table.$('tr.selected').removeClass('selected');
           }
       });*/

   });

   function capitalizeFirstLetter(string) {
       return string.charAt(0).toUpperCase() + string.slice(1);
   };

   $.fn.dataTable.ext.buttons.alert = {
       className: 'buttons-alert',

   };
</script>
{% endblock %}